body {
    background-color: black;

}

h1 {
    color:red;
    }

h2 {
    color:cyan;
    }
#circulo {
    background-color:green;
    margin: 70px 40px;
    border: 6px solid green;
    border-radius: 70px;
    
    }
